{{#with def as |definition|}}
  <div class={{if definition.className definition.className 'col-sm-12'}}>
    {{#if (eq definition.type 'text')}}
      {{bs-form-element controlType="text" label=definition.label useIcons=false property=definition.attribute}}
      {{{definition.help}}}
    {{else if (eq definition.type 'switch')}}
      {{#bs-form-element label=definition.label useIcons=false property=definition.attribute as |value id|}}
        {{bs-switch
          class="form-control"
          checked=value
          on-text=(if definition.onText definition.onText 'Ativo')
          off-text=(if definition.offText definition.offText 'Inativo')}}
      {{/bs-form-element}}
    {{else if (eq definition.type 'select')}}
      {{#bs-form-element label=definition.label useIcons=false property=definition.attribute as |value id|}}
        {{#power-select selected=value options=definition.selectContent searchField=definition.selectLabelPath onchange=(action (mut value)) as |item|}}
          <div class="ember-power-select-item">
            {{power-select-item item=item processedLabel=definition.selectLabelPath}}
          </div>
        {{/power-select}}
      {{/bs-form-element}}
    {{else if (eq definition.type 'multiselect')}}
      {{#bs-form-element label=definition.label useIcons=false property=definition.attribute as |value id|}}
        {{#power-select
          multiple=true
          selected=value
          options=definition.selectContent
          onchange=(action (mut value)) as |item|}}
          {{get item definition.selectLabelPath}}
        {{/power-select}}
      {{/bs-form-element}}
    {{else if (eq definition.type 'textarea')}}
      {{bs-form-element controlType="textarea" label=definition.label useIcons=false property=definition.attribute}}
    {{else if (eq definition.type 'datepicker')}}
      {{#bs-form-element label=definition.label useIcons=false property=definition.attribute as |value|}}
        {{bootstrap-datepicker class="form-control" placeholder="dd/mm/aaaa" value=value startDate=definition.startDate endDate=definition.endDate}}
      {{/bs-form-element}}
    {{else if (eq definition.type 'datetimepicker')}}
      {{#bs-form-element label=definition.label useIcons=false property=definition.attribute as |value|}}
        {{bs-datetimepicker value=value startDate=definition.startDate endDate=definition.endDate}}
      {{/bs-form-element}}
    {{else if (eq definition.type 'fieldset')}}
      <fieldset>
        <legend>{{{definition.legend}}}</legend>
        {{{definition.help}}}
        <div class="row">
          {{#each definition.children as |def|}}
            {{partial "magic-crud/form-elements"}}
          {{/each}}
        </div>
      </fieldset>
    {{else if (eq definition.type 'row')}}
      <div class="row">
        {{#each definition.children as |def|}}
          {{partial "magic-crud/form-elements"}}
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/with}}
